﻿@using QAOF.Models
@model  Station

@{
    ViewBag.Title = "Station";
}

<h2>Estación</h2>

<table>
    <tr>
        <td>
            <div class="staticInfoSection col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <span class="col-xs-5 infoValue">@Model.DTRAMO</span>
                <span class="col-xs-7 infoValue">@Model.CurrentVehicle</span>
                <span class="col-xs-9 infoValue">@Model.CurrentUserName</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="staticInfoSection col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>Información</h3>
                <span class="col-xs-5">Planta</span><span class="col-xs-7 infoValue">@Model.CPLANT</span>
                <span class="col-xs-5">Línea</span><span class="col-xs-7 infoValue">@Model.CLINEA</span>
                <span class="col-xs-5">Módulo</span><span class="col-xs-7 infoValue">@Model.CMODULO</span>
                <span class="col-xs-5">Habilitado</span><span class="col-xs-7 infoValue">@Model.CHABILIT</span>
                <span class="col-xs-5">OPERACIÓN:</span><span class="col-xs-7 infoValue">@Model.CurrentOperation.COPERAC</span>
                <span class="col-xs-5"></span><span class="col-xs-7 infoValue">@Model.CurrentOperation.DOPERAC</span>
                <span class="col-xs-5">PUESTO MAQ:</span><span class="col-xs-7 infoValue">@Model.CurrentMachineStation.CPUESTO_MAQ</span>
                <span class="col-xs-5">IP:</span><span class="col-xs-7 infoValue">@Model.CurrentMachineStation.CIP</span>
                <span class="col-xs-5"></span><span class="col-xs-7 infoValue">@Model.CurrentMachineStation.DPUESTO_MAQ</span>
                <span class="col-xs-5">MAQUINA:</span><span class="col-xs-7 infoValue">@Model.CurrentMachineStation.CMAQUINA</span>

                @*@Html.Action("CardViewOperationPartial")*@

            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="liveInfoSection col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <span class="col-xs-5">Estación</span><span class="col-xs-7 infoValue">@Model.DTRAMO</span>
                @Html.Action("TreeRouteResultPartial", new { plantCode = @Model.CPLANT, lineCode = @Model.CLINEA, stationCode = "L231_V2", nassorder = @Model.CurrentNassOrder })

            </div>
        </td>
    </tr>
</table>
@Html.Action("GridViewProductionPartial", new { lineCode = @Model.CLINEA, stationCode = "L231_V2", nassorder = @Model.CurrentNassOrder })
